



header {
  background: url(/images-logIn/jas-min-5Wfttm2CjeI-unsplash.jpg) no-repeat center center/cover;
  height: 30rem;
}


.error-message {
  color: red;
  display: none;
}

.required-asterisk {
  color: red;
}

.menu-icon {
  display: none;
}

.nav-links {
  
}

/*menu-icon*/
@media (max-width: 678px) {
  .nav-links {
    display: none;
    background-color: blue;
  }
  .menu-icon {
    display: block;
  }
}