



header {
  background: url(/images-logIn/jas-min-5Wfttm2CjeI-unsplash.jpg) no-repeat center center/cover;
  height: 30rem;
}

.logo {
  float: left;
}


.error-message {
  color: red;
  display: none;
}

.required-asterisk {
  color: red;
}

.menu-icon {
  display: none;
}

#nav-links {
  
}

.form-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 50px auto;
}

.register-button:hover {
  background-color: darkgreen;
}

/*menu-icon*/
@media (max-width: 678px) {
  .nav-links {
    display: none;
    
  }
  .menu-icon {
   display: block;
  }
}